* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(images/pexels-philippe-donn-1242764.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
span {
  font-size: 15rem;
  color: rgba(0, 0, 255, 0.403);
}
.box {
  border: thick solid teal;
  border-radius: 50%;
  padding: 30px;
  color: rgba(15, 15, 207, 0.519);
  border-radius: 50%;
  background: linear-gradient(225deg, #cacaca, #f0f0f032);
  box-shadow: -33px 33px 66px #989898, 33px -33px 66px #ffffff00;
  backdrop-filter: blur(0px) saturate(130%);
  -webkit-backdrop-filter: blur(0px) saturate(130%);
  background-color: rgba(17, 25, 40, 0.45);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.container {
  font-family: "Arial", Helvetica, sans-serif;
  padding: 30px;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  font-size: 150px;
  white-space: nowrap;
}
